@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Sacramento', cursive;
    --main-font: 'Special Elite', cursive;
    --body-font: 'Indie Flower', cursive;;
    --main-font-color-dark: #252525;
    --secondary-font-color: #489FB5;
    --body-font-color: #515151;
}
